GOOGLE_ID=YOUR_GOOGLE_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
MONGODB_URI=YOUR_MONGDB_URI_CONNECTION

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=/zALLd+g4Etv2IiRD2hhNQK6uoYhEEHOY9/dY+CthlY=